*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

html,body{
    height: 100%;
    background: rgb(36,80,118);
    background: linear-gradient(180deg, rgba(36,80,118,1) 0%, rgba(50,113,168,1) 60%);
}
/* to design header of page*/
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header img{
    width: 450px;
    margin-left: 50px;
}

.search{
    width: 250px;
    height: 50px;
    background-color: #444444;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px;
}

textarea{
    height: 25px;
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
    border: 2px inset #c0c0c0;
}

button{
    width: 40px;
    height: 30px;
    color: white;
    background-color: #245076;
    border: 2px inset #c0c0c0;
    border-radius: 10%;
}

.size_option p{
    margin:0px 0px 10px 60px;
    color: white;
}

.size_option a{
    color: #caad02;
}

.size_option span{
    color: black;
}
/*to design nav bar*/
nav ul{
    width: 80%;
    background-color: #2070b6;
    border-radius: 5px;
    height: 50px;
    margin-left: 180px;
    box-shadow: 2px 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

nav a{
    font-size:x-large;
    color: rgb(241, 241, 241);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* to design top section of main*/
.top_section{
    width: 80%;
    margin-left: 180px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}
/* to design left side of top section in main*/
.top_section .left_aside ul{
    width: 80%;
    margin-left: 40px;
    list-style-type: none;
}
.top_section .left_aside span{
    color: #ffd902;
}
.top_section .left_aside a{
    line-height: 30px;
    color: rgb(241, 241, 241);;
}
/* to design right side of top section in main*/
.top_section .right_aside{
    width: 75%;
    margin-left: 20px;
}
.top_section .right_aside .first_paragraph,.top_section .right_aside .last_paragraph{
    line-height: 15px;
    color: rgb(241, 241, 241);
}
.top_section .right_aside .second_paragraph{
    line-height: 25px;
    color: #ffd902;
}
/* to desig bottom section of main*/
.bottom_section{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
.bottom_section .left_aside,.bottom_section .right_aside{
    width: 20%;
    border-top: 5px solid hsl(208deg 54% 65%);
    margin-top: 20px;
}
.bottom_section h3{
    text-align: center;
    margin-bottom: 10px;
}
.bottom_section ul{
    text-indent: 30px;
    list-style-type: square;
    line-height: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}
.bottom_section a{
    text-decoration: none;
    color: hsl(208deg 54% 65%);
}
/*to design footer*/
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: hsl(208deg 64% 71%);
}
footer ul{
    height: 70px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 250px;
    list-style-type: none;
}
footer a{
    text-decoration: none;
    color: hsl(208deg 64% 71%);
}