.row {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
}
.col,.col-2,.col-3{
    background-color: darkcyan;
    padding: 10px;
    margin: 10px;
}
.col {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}