
*{
    margin: 0px;
    padding: 0px;
    outline: 1px;
}
body{
    display: flex;
    align-items: center;
}
#img{
    height: 50px;
    width: 50px;
}
.h{
    margin: 50px;
}

button{
    margin: 50px;
}
