.search{
    width: 170px;
    margin: 50px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgb(227, 245, 243);
    border-radius: 20px;
    border: solid rgb(2, 78, 78) thin;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.add{
    color: white;
    width: 40px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    background-color: rgb(93, 234, 187);
    border: solid rgb(93, 234, 187) ;
    border-radius: 50%;
    font-size: 30px;
    
}
.creating-accont{
    margin-left: 50px;
    width: 210px;
    padding: 7px;
    color: white;
    background-color: rgb(30, 30, 255);
    font-size: large;
    border-style: 5px solid thick;
    box-shadow: 5px 5px black ;


}