h1{
    text-align:center;
    padding: 10px;
}
#main{
    height: 850px;
    width: 800px;
    background-color: rgb(239, 231, 231);
    margin: 20px;
}
.layer1,.layer2,.layer3{
    display: flex;
    height: 180px;
    width: 700px;
}

.layer1{
    background-color: rgb(47, 152, 218);
    margin:  20px;
    padding: 20px;
    justify-content: space-between;
}

.layer2{
    background-color:DarkSalmon;
    margin: 20px;
    padding: 20px;
    justify-content: space-evenly;
}
.layer3{
 
    background-color: white;
    margin: 20px;
    padding: 20px;
    justify-content: space-between;
}
h2{
    text-align: center;
    
}
img{
    height: 180px;
    width: 180px;
}